MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=precision_agriculture
MODEL_CHECKPOINT=../ml_model/checkpoints/best_model.pt
DEVICE=cpu
ENV=development
PORT=8000
OPENWEATHER_API_KEY=get_free_key_at_openweathermap.org
SECRET_KEY=change-this-to-random-string
EMAIL_FROM=your_gmail@gmail.com
EMAIL_PASSWORD=your_gmail_app_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
ALERT_EMAIL=farmer@email.com
